{% extends 'base.html.twig' %}

{% block title %}Subscribed!{% endblock %}

{% block body %}
    <h1>You are subscribed this category!</h1>

    <a href="{{ path('category_index') }}">back to list</a>
{% endblock %}
