{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Data_Dog Project</h1>
<a href="{{ path('app_login') }}">Log in page</a>
<a href="{{ path('event_index') }}">Event CRUD</a>
    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
